<div class="side_bar">
    <mat-nav-list>
        <mat-list-item class="list_header">All Categories</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Biography</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Fiction</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Mystery</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Fantasy</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Romance</mat-list-item>
        <mat-divider></mat-divider>
    </mat-nav-list>
    <div class="filter_section">
        <div class="">
            <h4 class="filter">Price Filter</h4>
        </div>
        <mat-slider color = "accent" thumbLabel [displayWith]="formatLabel" tickInterval="1000" step="1000" min="0" max="100000" aria-label="units"></mat-slider>
    </div>


    
 

</div>

