.cls{
    width:300px;
    display:inline-block;
    margin-left:70px;

}
.example-card{
    max-width:170px;
    max-height:370px;
    
    display:inline-block;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    margin:5px 5px;
}


.example-header-image{
   width:170px;
   height:220px;
   
}
.types{
    
   
    overflow: hidden;
    text-overflow: ellipsis; 
   color: royalblue;
}

.fas {
    margin-right: auto;
}
p{
    display: inline-block;
    
}
.green{
    background-color: green;
}
.red{
    background-color: red;
}