
.home_Container{
    
    
    margin: 10px 100px;
    position: relative;
}



.fixed_To_page{
    width: 250px;
    position: fixed;
    // top: 65px;
  
   

}


.non_fixed_page{
    margin-left: 250px;
}